@import '../../../assets/scss/common.scss';

.nav-header {
  @include flexContentRightAlign;
  align-items: center;
  background: $white;
  padding: 0 16px;

  .drop-down {
    cursor: pointer;
  }
}
